body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(to right, #66ccff, #99cc33);
}

header {
    background: linear-gradient(to left, #66ccff, #99cc33);
    padding: 10px 15px 20px 20px;
    position: sticky;
    top: 0;
    border: solid 10px black;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul li {
    margin: 0 10px;
    position: relative; 
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

nav ul li:hover .dropdown {
    display: block;
    background: linear-gradient(to left, #66ccff, #99cc33); 
}

.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: gray;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropdown li a {
    padding: 10px;
    display: block;
}

.dropdown li {
    white-space: nowrap;
}

.dropdown li a {
    padding: 10px;
    display: block;
    text-decoration: none;
    color: #333;
}

.dropdown li a:hover {
    background-color: whitesmoke;
}

.content {
    text-align: center;
    background: linear-gradient(to right, #66ccff, #99cc33);
    padding: 50px 20px;
}

.content button{
    background-color: navy;
    color: navajowhite;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    width: 40%;
    font-size: 40px;
}

.message {
    font-size: xx-large;
    font-weight: bolder;
}

